body {
    font-size: 1.5rem;
}

.login-form {
    height: 57rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
}

input {
    border: 1px solid gray;
    padding: 0.7rem;
    font-size: 1.8rem;
    border-radius: 5px;
}

.show {
    display: flex;
    margin: 1rem 0;
}

.show input {
    margin-right: 1rem;
}

.show p {
    margin-top: -5px;
}

button[type="submit"] {
    padding: 1rem;
    float: right;
    font-weight: 500;
}